.notification {
	transform: skew(-20deg);
	background: rgba(0, 0, 0, 0.58);
	border-radius: 10px;
	display: flex;
	align-items: center;

	&__title, &__text {
		// font-family: 'Geometria';
		// font-style: normal;
		// font-weight: 500;

		font-family: 'Geometria'; font-weight: 500; font-style: normal;
		color: #FFFFFF;
	}

	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
	}

	&__text {
		font-size: 13px;
		line-height: 16px;
		color: #E8E8E8;
	}
}